@media (max-width: 576px) {
    #map {
        height: 250px;
    }
}

h1 {
    color: white;
    justify-content: center;
    align-items: center;
    text-align: center;

}

.container { 
    max-width: 800px; 
    padding: 1rem; 
 }

#countryInput {
    display: block;
    height: 40px;
    max-width: 200px;
    font-size: 0.9rem;
    padding-left: 12px;
    justify-content: center;
    align-items: center;
}

.search-box {
    width: 100%;         
    justify-content: center;
    align-items: center;
}

.form-control:focus {
    outline: none;
    box-shadow: none;
}

body {
    background-color: cadetblue
}

.flag-container {
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
}

.card-img-top {
    margin: 5px;
    padding: 5px;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 20px;
}

.card {
    margin: 10px;
    padding: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.card-body {
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.search-form {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#result {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1000px;
    margin: 0 auto;
}

.map-wrapper {
    display: flex;
    justify-content: center;
}

#map {
    margin: 10px;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

.app-container {
    display: flex;
    justify-content: center;
}